@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../font/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Cirrus";
  font-display: swap;
  src: url("../font/CirrusCumulus.woff") format("woff");
}

:root {
  --color-title: hsl(160, 88%, 40%);
  --color-text: hsl(200, 98%, 32%);
  --color-white: white;
  --background-interviews: hsl(118, 100%, 92%);
  --background-analyses: hsl(152, 80%, 86%);
  --background-definition: hsl(70, 100%, 86%);
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

* {
  scrollbar-color: var(--color-title) var(--color-text);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
  background: var(--color-text);
}
::-webkit-scrollbar-thumb {
  background: var(--color-title);
}

.tanuki-logo {
  height: 2.3em;
  fill: var(--color-title);
}

h1 {
  font-family: "Cirrus";
  font-size: 4.2em;
  line-height: 1.2em;
}

h2 {
  font-family: "Cirrus";
  font-size: 1.6em;
  line-height: 1.2em;
  color: var(--color-title);
}

h5 {
  font-family: "Cirrus";
  font-size: 4.8em;
  line-height: 1.4em;
  color: var(--color-title);
}

p {
  font-family: "Inter";
  font-weight: 300;
  line-height: 1.2em;
  color: var(--color-text);
}

a,
a:visited {
  color: var(--color-title);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.conteneur-global {
  height: 100vh;
  width: calc(100vw - 4em);
  margin-left: 4em;
  overflow-x: hidden;
}

.conteneur-index {
  width: 100%;
  height: 100%;
  display: flex;
}

.vertical {
  writing-mode: sideways-lr;
}

nav,
.barre-infos {
  width: 2.4em;
  padding: 0.8em 0.8em 0.8em 0.7em;
  display: grid;
  align-content: space-between;
}

nav {
  height: calc(100vh - 1.6em);
  position: fixed;
  border-right: 2px solid var(--color-title);
}

nav p {
  font-family: "Inter";
  font-size: 1.8em;
  font-weight: 300;
  color: var(--color-title);
}

.conteneur-pdf {
  height: 100%;
  padding: 1em;
}

.conteneur-pdf p {
  font-size: 0.8em;
  padding: 0.1em 0;
}

.pdf-viewer {
  width: 100%;
  height: 90%;
  border-radius: 0em;
  border: 2px solid var(--color-fill-darker);
}

.conteneur-introduction {
  height: 100%;
  width: 36%;
  overflow-y: auto;
  background-color: var(--color-text);
}

.introduction {
  padding: 0.4em 1.6em;
  color: var(--color-white);
}

.introduction h1 {
  margin-bottom: 1em;
  color: var(--color-title);
}

.introduction p {
  width: 80%;
  color: var(--color-white);
  margin-bottom: 1em;
}

.conteneur-sections {
  height: 100%;
  width: 64%;
  display: flex;
  overflow-x: hidden;
}

.memoire-analyses,
.memoire-corps,
.memoire-interviews,
.barre-infos {
  border-left: 2px solid var(--color-title);
}

.memoire-analyses,
.memoire-corps,
.memoire-interviews {
  flex-grow: 1;
  height: 100%;
  transition: flex-grow 0.4s;
}

.memoire-corps:hover,
.memoire-interviews:hover,
.memoire-analyses:hover {
  flex-grow: 8;
}

.background-index {
  background-color: var(--color-text);
}

.background-corps {
  background-color: var(--color-white);
}

.background-interviews {
  background-color: var(--background-interviews);
}

.background-analyses {
  background-color: var(--background-analyses);
}

.sections {
  display: flex;
}

.sections a {
  display: flex;
  flex-grow: 1;
}

.conteneur-titre {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre {
  position: absolute;
  right: 0;
  padding: 1em;
  width: 34vw;
}

.conteneur-interview {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr minmax(40vw, 1.2fr);
  margin: 1.6em 4em;
  gap: 4em;
}

.conteneur-interview h2 {
  margin: 1.6em 0 0.8em 0;
}

/********************************************************/

@media all and (max-width: 1100px) {
  .conteneur-index {
    height: auto;
    width: 100%;
    overflow-y: auto;
  }

  .conteneur-interview {
    width: 80%;
    grid-template-columns: 1fr 1.4fr;
  }

  .conteneur-index,
  .sections,
  .conteneur-sections {
    flex-direction: column;
  }

  .conteneur-introduction,
  .conteneur-sections {
    width: 100%;
  }

  .introduction {
    height: max-content;
  }

  .conteneur-introduction p {
    width: 60vw;
  }

  .conteneur-titre {
    height: 23em;
  }

  .memoire-analyses,
  .memoire-corps,
  .memoire-interviews,
  .barre-infos {
    border-top: 2px solid var(--color-title);
    border-left: 0px;
    width: 100%;
  }

  .barre-infos {
    height: 3em;
  }

  .conteneur-introduction {
    height: max-content;
  }

  .titre {
    left: 0;
    width: 50vw;
  }
}

@media all and (max-width: 700px) {
  h1 {
    font-size: 3.2em;
    line-height: 1.2em;
  }

  h5 {
    font-size: 3.6em;
    line-height: 1.4em;
  }

  .conteneur-global {
    margin-left: 0;
    margin-top: 4em;
    width: 100vw;
    height: calc(100vh - 4em);
  }

  .conteneur-interview {
    grid-template-columns: 1fr;
    margin: 0.8em;
    gap: 2em;
  }

  .conteneur-interview h2 {
    margin: 0.8em 0 0.4em 0;
  }

  .vertical {
    writing-mode: inherit;
    display: none;
  }

  nav,
  .barre-infos {
    width: 100%;
    height: 2.4em;
    padding: 0.8em 0.8em 0.7em 0.8em;
    display: grid;
  }

  nav {
    position: fixed;
    z-index: 10;
    border-bottom: 2px solid var(--color-title);
  }

  .conteneur-introduction p {
    width: 80vw;
  }

  .conteneur-pdf {
    width: calc(100%);
    height: 99%;
    padding: 0;
  }

  .pdf-viewer {
    border: 0;
  }

  .titre {
    left: 0;
    width: 90vw;
  }
}
